

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: bisque;
}

h1 {
  padding: 10px;
}

nav {
  display: flex;
}

li {
  list-style-type: none;
  margin: 10px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}

section {
  min-height: 200px;
  margin: 20px;
  display: flex;
}

section h2 {
  min-width: 250px;
  width: 250px;
  padding: 10px;
  text-align: right;
}

section > div {
  padding: 20px;
  border-left: 3px solid black;
}

.box {
  outline: 2px solid red;
  height: 300px;
  width: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.smaller-box {
  background-color:bisque;
  width: 150px;
  height: 100px;
  padding: 10px;
  margin-bottom: 25px;
}


.first-row .box {
  width: 100% !important;
  height: 300px;
}

.first-row, .second-row, .third-row {
  display: flex;
}

#project-1 {
  background-image: url(/workday.png);
}

#project-2 {
  background-image: url(https://placehold.co/600x400);
}

#project-3 {
  background-image: url(https://placehold.co/600x400);
}

#project-4 {
  background-image: url(https://placehold.co/600x400);
}

#project-5 {
  background-image: url(https://placehold.co/600x400);
}


.contact-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.contact-content a {
  font-size: 30px;
}

#main-container {
  min-height: 85vh;
}


#footer {
  display: flex;
  width: 100%;
  justify-content: center;
}

#footer li {
  list-style-type: none;
  margin: 20px;
  font-size: 40px;
}